* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    color: white;
    font-family:'Inter', sans-serif;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B21;
    width: 317px;
    margin: 40px auto auto;
}

h1 {
    font-weight: 500;
    margin: 30px 0px 0px;
}

h4 {
    font-weight: 100;
    margin: 10px 0px 0px;
    color: #F3BF99;
}

h5 {
    font-weight: 100;
    font-size: 12px;
    margin: 15px 0px 0px;
}

.buttons {
    display: flex;
    width: 317px;
    margin: 15px 0px 0px;
    justify-content: space-around;
    
}

.btn--email {
    background-color: white;
    border: 1px solid #D1D5DB;
    color: #374151;
    border-radius: 5px;
    padding: 5px 40px;
    font-size: 16px;
    width: 115px;
}

.btn--linkedin {
    background-color: #5093E2;
    border: 1px solid #D1D5DB;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 40px;
    font-size: 16px;
    width: 115px;
}

.btn--content {
    display: flex;
}