* {
    box-sizing: border-box;
}

body {
    background-color: #23252C;
    color: white;
    font-family:'Inter', sans-serif;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1B21;
    width: 317px;
    margin: 40px auto auto;
}

.headshot {
    border-radius: 10px 10px 0px 0px;
    border-left: 2px solid #ba8965;
}
h1 {
    font-weight: 600;
    margin: 20px 0px 0px;
    font-size: 25px;
}

h4 {
    font-weight: 100;
    margin: 3px 0px 5px;
    color: #F3BF99;
    font-size: 13px;
}

h5 {
    font-weight:100;
    font-size: 10px;
    margin: 5px 0px 0px;
    padding: 0px;
    color: #DCDCDC;
}

.buttons {
    display: flex;
    width: 317px;
    margin: 20px 0px 10px;
    justify-content: center;
    
}

.btn--email {
    background-color: white;
    border: 1px solid #D1D5DB;
    color: #374151;
}

.btn--linkedin {
    background-color: #5093E2;
    border: 1px solid #D1D5DB;
    color: white;
    border: none;
}

.btn--content {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 7px 30px;
    font-size: 13px;
    width: 105px;
    margin: 0px 8px;
}

.btn-text {
    margin: 0px 7px 0px;
}
.about-body, .interests-body, .footer {
    background-color: #1A1B21;
    width: 317px;
    margin: 0px auto 0px;
    padding: 10px 40px;
}

h3 {
    margin: 0px;
    font-weight: 600;
    font-size: 16px;
}

.interests-body {
    padding-bottom: 30px;
}

.footer-social-logos {
    display: flex;
    justify-content: space-around;
    margin: 8px 0px;
}

.footer {
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
}

p {
    font-weight:100;
    font-size: 10px;
    margin-top: 5px;
    line-height: 14px;
    color: #DCDCDC;
}

.updated-date {
    width: 317px;
    margin: 0px auto 0px;
    font-size: 9px;
    color: #bcb6b6;
    text-align: right;

}